<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwpEkIXIp-_I6LboDTguC6OhCdmLCdKUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1059025043652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.centralpet</string>
	<key>PROJECT_ID</key>
	<string>sistemas-ba26a</string>
	<key>STORAGE_BUCKET</key>
	<string>sistemas-ba26a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059025043652:ios:eabec4224038ead33c8991</string>
</dict>
</plist>